.wy-side-nav-search {
background-color: #3e142c;
}
.wy-nav-side {
linear-gradient(to bottom, #333e48, #c60033);
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(rgb(51, 62, 72), rgb(198, 0, 51));
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}
.wy-menu-vertical header, .wy-menu-vertical p.caption {
color: #FFFFFF;
}
a, a:hover, a:visited {
  color: #991b3d;
}
.wy-menu-vertical a:visited{
  color: #FFFFFF;
}
.wy-menu-vertical a:hover {
    background-color: #d9d9d9;
}
.rst-versions .rst-current-version{
   color: #FFFFFF;
}

.wy-nav-top{
  background: #d9d9d9;
}

.wy-nav-content {
    max-width: 100%;
}

.rst-current-version {
    padding: 8px !important;
}
